body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
